name: CI

on:
    push:
        branches: [dev, main]
    pull_request:
        branches: [dev, main]

jobs:
    backend-tests:
        name: Backend - pytest
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: "3.11"
            
            - name: Install backend dependencies
              working-directory: backend
              run: |
                pip install --upgrade pip
                pip install -r  requirements.txt
            
            - name: Run pytest
              working-directory: backend
              run: |
                pytest -v
            
    frontend-build:
        name: Frontend - build
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Node
              uses: actions/setup-node@v4
              with:
                node-version: "20"
            
            - name: Install frontend dependencies
              working-directory: frontend
              run: npm install
            
            - name: Build frontend
              working-directory: frontend
              run: npm run build

    nginx-build:
        name: Nginx - Docker build
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
            
            - name: Build nginx image
              working-directory: nginx
              run: |
                docker build -t nginx-test .
